.editor {
  font-family: sans-serif;
  font-size: 14px;
}

.editor :global .public-DraftEditorPlaceholder-root {
  padding: 11px;

  position: absolute;
  pointer-events: none;

  color: rgb(150, 150, 150);
}

.editor :global [role=textbox] {
  padding: 10px;
  min-height: 100px;

  border: 1px solid rgb(200, 200, 200);
  border-radius: 4px 4px 0 0;
}


.editor :global .PRE {
  counter-reset: line;
}

.editor :global .PRE [data-block=true]:before {
  padding: 0 5px 0 0;
  margin-right: 10px;
  width: 20px;
  text-align: right;
  counter-increment: line;
  content: counter(line);
  float: left;
  border-right: 1px solid #ddd;
  color: #888;
}
